<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>Student Signup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="{% static 'css/signup.css' %}" rel="stylesheet" type="text/css" media="all" />

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
</head>
<body>
	<!-- main -->
	<div class="main-w3layouts wrapper" style="padding-top:1em">
		<h1>Student Signup</h1>
        <div class="main-agileinfo">
            <div class="agileits-top">
                <form method="post">
                    {% csrf_token %}
                    <input class="text" type="text" name="{{form.username.name}}" placeholder="Username" required="">
                    <p style="text-align:center">{{form.username.errors}}</p>

                    <div class="extra">
                        <input class="firstname" type="text" name="{{form.first_name.name}}" placeholder="First name" required="">
                        <input class="lastname" type="text" name="{{form.last_name.name}}" placeholder="Last Name" required="">
                    </div>

                    <input class="text email" type="email" name="{{form.email.name}}" placeholder="Email" required="">
                    <p style="text-align:center;">{{form.email.errors}}</p>

                    <input class="text" type="password" name="{{form.password1.name}}" placeholder="Password" required="">
                    <input class="text w3lpass" type="password" name="{{form.password2.name}}" placeholder="Confirm Password" required="">
                    <p style="text-align:center;">{{form.password2.errors}}</p>
                    
                    <input type="submit" value="SIGNUP">
                </form>
                <p><a href="{% url 'student_app:student_home' %}"> Home page</a></p>
                <p>Don't have an Account? <a href="{% url 'student_app:student_login' %}"> Login Now!</a></p>
            </div>
        </div>
		

		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</body>
</html>