<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/master.css' %}" rel="stylesheet">
    <link href="{% static 'css/table.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
    
    <title>Student</title>
</head>
<body class="studentbody">


    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a href="{% url 'student_app:student_home' %}" class="navbar-brand">
            <h2>Student MCQ</h2>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="{% url 'student_app:student_home' %}" class="nav-item nav-link active">Home</a>
                <a href="{% url 'student_app:paper_list' %}" class="nav-item nav-link">Papers</a>
                {% if user.is_authenticated and user.is_student %}
                    <a href="{% url 'student_app:result_list_student' user_id=user.id %}" class="nav-item nav-link" tabindex="-1">Your Results</a>
                {% else %}
                    <a href="#" class="nav-item nav-link disabled" tabindex="-1">Results</a>
                {% endif %}
                
            </div>
            <div class="navbar-nav ml-auto">
                <a href="{% url 'home' %}" class="nav-item nav-link">About</a>
                {% if auth %}
                {% elif user.is_authenticated and user.is_student %}
                    <a href="{% url 'student_app:student_logout' %}" class="nav-item nav-link">Logout</a>
                {% else %}
                    <a href="{% url 'student_app:student_signup' %}" class="nav-item nav-link">Register</a>
                    <a href="{% url 'student_app:student_login' %}" class="nav-item nav-link">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="studentblock">
        <div class="container">
        {% block base_block %}
        {% endblock base_block %}
        </div>
    </div>

</body>
</html>