.head1 { 
    font-size:40px; 
    color:black; 
    font-weight:bold; 
    text-align: center;
} 
.head2 { 
    font-size:10px; 
    margin-left:10px; 
    margin-bottom:15px; 
    text-align: center;
    color: white;
} 
body { 
    margin: 0 auto; 
    background-position:center; 
    background-size: contain; 
    overflow: hidden;
} 

.body_sec { 
    margin-left:20px; 
    text-align: center;
} 