<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <title>Teacher Login</title>
</head>
<body style="background-color:RGB(230, 210, 210)">

    <div style="margin-top:5%">
		<div class="col-sm-4"></div>
		<div class="container col-sm-4">
		<h2>Teacher Registration</h2>

		<form method="POST">
			{% csrf_token %}
			{% for field in form %}
				<div class="fieldWrapper">
					<div class="form-group">
						<label>{{ field.label_tag }}</label>
						{{ field }}
					</div>
					{% if field.help_text %}
					<p class="help">{{ field.help_text|safe }}</p>
					{% endif %}
				</div>
				<h6 style="color:red">{{ field.errors }}</h6>
			{% endfor %}
			<input type="hidden" name="next" value="{{next}}">
			<button type="submit" class="btn btn-primary">Register</button>
		</form>

		</div>
		<div class="col-sm-4"></div>
    </div>

</body>
</html>
