{% extends 'teacher_base.html' %}
{% load bootstrap4 %}

{% block base_block %}




<div class="container" style="margin-bottom:20px">
    <div class="pb-2 mt-4 mb-2 border-bottom">
        <h1>
            {{question_paper.name}} 
            <small style="font-size:20px">,Questions count: {{question_list.count}}</small> 
            <a type="button" class="btn btn-sm btn-outline-primary float-right" href="{% url 'teacher_app:question_form' slug=question_paper.slug %}">Add Question</a>
        </h1>      
    </div>
    {% if not question_list.count %}
        <div class="card-body text-center">No Question create yet. Try creating a question and return to this page.</div>
    {% endif %}
    <ul class="list-group">
        {% for question in question_list %}
        <li class="card list-group-item">
        <div class="card-header text-primary">{{question.question|safe}}</div>
        <div class="card-body">
        <ol type="A">
            <li>{{question.option1}}</li>
            <li>{{question.option2}}</li>
            <li>{{question.option3}}</li>
            <li>{{question.option4}}</li>
        </ol>
        <p class="card-text text-success">Key: {{question.key}}</p>
        </div>
        </li>
        {% endfor %}
    </ul>
</div>





{% endblock base_block %}
