<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>Teacher Signup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="{% static 'css/signup.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
</head>
<body>
	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1>Teacher Login</h1>

        {% if user.is_authenticated and not user.is_teacher%}
            <p style="text-align:center">If you are a student, login into student portal.</p>
        {% elif form.errors%}
            <p style="text-align:center">Please enter a correct username and password. Note that both fields may be case-sensitive.</p>
        {% endif %}
            
        <div class="main-agileinfo">
            <div class="agileits-top">
                <form method="post">
                    {% csrf_token %}
                    
                    <input class="text" type="text" name="{{form.username.name}}" placeholder="Username" required="true">
                    <input class="text w3lpass" type="password" name="{{form.password.name}}" placeholder="Password" required="">
                    
                    <input type="submit" value="LOGIN">
                </form>
                <p>Not Registered? <a href="{% url 'teacher_app:teacher_signup' %}"> Create Account!</a></p>
            </div>
        </div>
		

		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</body>
</html>