{% extends 'teacher_base.html' %}

{% block base_block %}
<div class="jumbotron">
	<h1>Papers</h1>

	<form action="#" method="POST">
		{% csrf_token %}
		<div class="input-group mb-3">
			
			{{form.title}}
			
			<input type="hidden" name="next" value="{{next}}">
			<div class="input-group-append">
				<button class="btn btn-success" type="submit">Add Paper</button>
			</div>
			{% if form.title.errors %}
				<h6 style="color:red">{{ form.title.errors }}</h6>
			{% endif %}
		</div>
	</form>
</div>
{% endblock base_block %}

<!--<input type="text" class="form-control" placeholder="Paper title" required="true">-->